*.dll
*.exe
*.pdb
*.cache
*.vs/
*.vscode/
*.log
*.db

wwwroot/
node_modules/
bower_components/

packages/
*.nupkg

.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

**/obj/
**/bin/


appsettings.json
appsettings.*.json
*.key
*.cert

.env

*.azure

docker-compose.override.yml
docker-compose.*.yml

*.swp
*.swo

*.bak

.DS_Store

Thumbs.db

logs/

*.ci

*.local
